<p>There are a number of online communities and support groups that you can turn to for information and more. Here are several that are worth checking out:</p>
<h2>VisionAware</h2>
<p><strong>Website</strong>: <a href="http://www.visionaware.org/forum/cataracts-forum/1" target="_blank">http://www.visionaware.org/forum/cataracts-forum/1</a></p>
<p><strong>Community Description</strong>: A forum for those coping with cataracts.</p>
<p><strong>Background</strong>: The website is designed to help and inform people suffering from cataracts and delivers a lot more than just an online forum.</p>
<p><strong>General Comments</strong>: A great overall site for those with cataracts &ndash; from the community to the articles.</p>
<p><strong>What It Does Best</strong>: Serves up a great online community.</p>
<p><strong>What It&rsquo;s Known For</strong>: Being a one-stop shop for people with cataracts.</p>
<p><strong>The Drawback</strong>: As with any online forums, do not act on any information without first consulting with an eye doctor or professional.</p>
<h2>MDJunction</h2>
<p><strong>Website</strong>: <a href="http://www.mdjunction.com/cataracts" target="_blank">http://www.mdjunction.com/cataracts</a></p>
<p><strong>Community Description</strong>: A community of patients, family, and friends who are dealing with Cataracts, together.</p>
<p><strong>Background</strong>: MDJunction is a great website that hosts many different online forums.</p>
<p><strong>General Comments</strong>: It&rsquo;s a great home and resource for cataract sufferers and those who love them.</p>
<p><strong>What It Does Best</strong>: Provides a loving community forum.</p>
<p><strong>What It&rsquo;s Known For</strong>: Being a source of information and support.</p>
<p><strong>The Drawback</strong>: Ensure any information you glean from this site &ndash; whether legal or medical &ndash; is checked out with a professional before you act on it.</p>
<h2>Health Boards</h2>
<p><strong>Website</strong>: <a href="http://www.healthboards.com/boards/lasik-eye-surgery/934970-support-group.html" target="_blank">http://www.healthboards.com/boards/lasik-eye-surgery/934970-support-group.html</a></p>
<p><strong>Community Description</strong>: A message board for all things Lasik.</p>
<p><strong>Background</strong>: The HealthBoards website is host to many different types of health-related topics.</p>
<p><strong>General Comments</strong>: It&rsquo;s very sparse and outdated. Nothing to see here (no pun intended).</p>
<p><strong>What It Does Best</strong>: Claims to be there for people who had problems with Lasik.</p>
<p><strong>What It&rsquo;s Known For</strong>: Its problem is that it&rsquo;s not known for anything &ndash; hence the sparse membership.</p>
<p><strong>The Drawback</strong>: There&rsquo;s nothing here of value.</p>
<h2>American Diabetes Association - Lasik</h2>
<p><strong>Website</strong>: <a href="https://community.diabetes.org/discuss/viewtopic/3/11384?post_id=121499" target="_blank">https://community.diabetes.org/discuss/viewtopic/3/11384?post_id=121499</a></p>
<p><strong>Community Description</strong>: An online forum on the American Diabetes website designed for diabetes sufferers who want Lasik.</p>
<p><strong>Background</strong>: The ADA is a well-supported medical group.</p>
<p><strong>General Comments</strong>: Best intentions but falls flat as there are hardly any users.</p>
<p><strong>What It Does Best</strong>: Gives information about Lasik surgery to people with diabetes.</p>
<p><strong>What It&rsquo;s Known For</strong>: A place to ask questions about Lasik.</p>
<p><strong>The Drawback</strong>: It&rsquo;s very sparse.</p>
<h2>WebMD</h2>
<p><strong>Website</strong>: <a href="http://forums.webmd.com/3/eye-health-community/forum/1235/1" target="_blank">http://forums.webmd.com/3/eye-health-community/forum/1235/1</a></p>
<p><strong>Community Description</strong>: A forum for people suffering from vision issues including cataracts.</p>
<p><strong>Background</strong>: WebMD is a well-known website, and this is one of its many forums.</p>
<p><strong>General Comments</strong>: There&rsquo;s not much going on here; posts are over a year old, and there&rsquo;s nothing we can see in the way of an active, friendly community.</p>
<p><strong>What It Does Best</strong>: It trades off the WebMD name.</p>
<p><strong>What It&rsquo;s Known For</strong>: Being a part of WebMD&rsquo;s online world.</p>
<p><strong>The Drawback</strong>: Unfortunately, not too many people post here so it&rsquo;s rather outdated.</p>
<p>&nbsp;</p>
